<%= form_for(@pie_piece) do |f| %>
  <% if @pie_piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pie_piece.errors.count, "error") %> prohibited this pie_piece from being saved:</h2>

      <ul>
      <% @pie_piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pie_id %><br>
    <%= f.text_field :pie_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
