<h1>Listing pie_piece_transactions</h1>

<table>
  <thead>
    <tr>
      <th>Pie</th>
      <th>Pie piece</th>
      <th>Transaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pie_piece_transactions.each do |pie_piece_transaction| %>
      <tr>
        <td><%= pie_piece_transaction.pie %></td>
        <td><%= pie_piece_transaction.pie_piece %></td>
        <td><%= pie_piece_transaction.transaction %></td>
        <td><%= link_to 'Show', pie_piece_transaction %></td>
        <td><%= link_to 'Edit', edit_pie_piece_transaction_path(pie_piece_transaction) %></td>
        <td><%= link_to 'Destroy', pie_piece_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pie piece transaction', new_pie_piece_transaction_path %>
